/* @font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PT Sans";

  src: url("../fonts/PTSans-Regular.eot");
  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSans-Regular.woff2") format("woff2"),
  url("../fonts/PTSans-Regular.woff") format("woff"),
  url("../fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "PT Sans";

  src: url("../fonts/PTSans-Bold.eot");
  src: local("PT Sans"), local("PTSans-Bold"),
  url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff"),
  url("../fonts/PTSans-Bold.ttf") format("truetype");
} */

body {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}



.sedona-logo {
  position: absolute;
  left: 50%;
  z-index: 1;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 72px;
  padding: 0;

  list-style: none;
}

.navigation-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  opacity: 0.3;
}

.current-page {
  color: #766357;
}

.promo {
  padding: 60px 0 51px;

  line-height: 26px;
  text-align: center;

  background-color: #ffffff;
}

.promo-lead {
  width: 624px;
  margin: 0 auto 27px;

  font-weight: bold;
  font-size: 21px;
}

.promo-cta {
  margin: 0;

  font-size: 14px;
  color: #333333;
}

.features {
  line-height: 21px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-box {
  max-width: 400px;
  padding-top: 47px;
  padding-bottom: 59px;

  background-color: #eeeeee;
}

.blue-box {
  width: 400px;
  padding-bottom: 59px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}


.feature-title {
  margin: 0 120px 24px;

  font-size: 21px;
}

.feature-number {
  margin-bottom: 21px;

  font-size: 14px;
}

.feature-text {
  margin: 0 47px;

  font-size: 14px;
}

.sub-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.sub-item {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 400px;
  padding: 161px 0 82px 0;

  text-align: center;
}

.sub-features-list .feature-text {
  margin: 0 52px;
}

.grey-text {
  color: #333333;
}

.sub-item::before {
  content: "";
  position: absolute;
  top: 18%;
  left: 50%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sub-item:nth-child(1)::before {
  width: 72px;
  height: 75px;

  background: url("../img/icon-1.svg") no-repeat;
}
.sub-item:nth-child(2)::before {
  width: 74px;
  height: 70px;

  background: url("../img/icon-2.svg") no-repeat;
}
.sub-item:nth-child(3)::before {
  width: 64px;
  height: 76px;

  background: url("../img/icon-3.svg") no-repeat;
}

.feature-item:nth-child(2) {
  background: #c6735c url("../img/devil.jpg") no-repeat;
}

.features-list:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  text-align: center;

  background-color: #eeeeee;
}

.features-list:nth-of-type(2) .feature-box {
  padding: 47px 0 59px 0;
}

.help-3 {
  margin: 0 57px;
}

.form {
  padding-top: 51px;

  text-align: center;

  background-color: #ffffff;
}
.form-lead {
  margin: 0;
}

.form-title {
  margin: 0 0 23px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.form-cta {
  margin: 0 0 47px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.modal-button {
  display: inline-block;
  width: 568px;
  padding: 30px 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #604e43;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;;
}

.up-window {
  position: absolute;
  left: 50%;
  z-index: 1;

  display: none;
  width: 568px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.show-form-animation {
  -webkit-animation: scroll 1s;
          animation: scroll 1s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -400px);
            transform: translate(-50%, -400px);
  }
  100% {
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(-50%, -400px);
            transform: translate(-50%, -400px);
  }
  100% {
    -webkit-transform: translate(-50%,0);
            transform: translate(-50%,0);
  }
}

.search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 53px;
}
.count-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 54px;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 26px;
}

.input-title {
  padding-left: 2px;
}

.date-container input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 36px;
  padding-left: 12px;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.calendar {
  position: absolute;
  right: 59px;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

/* .counter {
  padding: 0;

  border: none;
} */

.search input {
  background-color: #f2f2f2;
  border: 2px solid #ffffff;
  outline: none;
}

.counter input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;

  font-weight: bold;
  text-align: center;

  border: none;
  border: none;
}

.count-button {
  position: relative;

  width: 38px;
  height: 38px;
  padding: 0;

  color: #f2f2f2;

  background-color: #f2f2f2;
  border: none;
}

.less::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;

  width: 3px;
  height: 12px;

  background-color: #a9a9a9;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.more::before,
.more::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 18px;

  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}

.more::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.counter-title {
  margin-right: 43px;
}

.help-5 {
  margin-right: 28px;
}

.count-button:hover::before,
.count-button:hover::after,
.count-button:focus::before,
.count-button:focus::after {
  background-color: #000000;
}

.count-button:active::before,
.count-button:active::after {
  background-color: #81b3d2;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-button {
  margin: 0 1px;
  padding: 18px 0;

  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.form-button:hover,
.form-button:focus {
  background-color: #669ec0;
}

.form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}



.footer-map {
  background-color: #eeeeee;
}

.hash-sedona {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 33px;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 6px;
}

.social {
  position: relative;

  display: inline-block;
  width: 46px;
  height: 48px;

  vertical-align: middle;

  background-color: #81b3d2;
}

.social::before {
  content: "";
  position: absolute;

  width: 46px;
  height: 48px;
}

.social-tw::before {
  background: url("../img/tw-icon.svg") no-repeat 50% 50%;
}

.social-fb::before {
  background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.social-yt::before {
  background: url("../img/youtube-icon.svg") no-repeat 50% 50%;
}

.social:hover,
.social:focus {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.social:active::before {
  opacity: 0.3;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
}

.author-text {
  margin-right: 8px;
}

.author-link {
  width: 113px;
  height: 39px;
}

.author-link:hover path,
.author-link:focus path {
  fill: #81b3d2;
}

.author-link:active path {
  fill: #bdbbbc;
}

.main-filter {
  background: #81b3d2 url("../img/bg-blur.jpg") no-repeat 0 -295px ;
}

.main-container {
  -webkit-box-shadow: 0 0 45px -19px #000000;
          box-shadow: 0 0 45px -19px #000000;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 27px 72px 30px;

  line-height: 21px;
  color: #ffffff;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .filter .infostructure-check {
  margin-right: 118px;
} */

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.infostructure-check legend,
.type-check legend {
  margin: 0 0 24px;
  padding: 0;

  font-weight: bold;
  font-size: 16px;
}

.infostructure-list,
.type-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
}

.infostructure-item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 40px;
}

.type-item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 43px;
}

.filter-price {
  width: 318px;

  font-size: 14px;
}
.filter-price-title {
  margin-bottom: 10px;
  margin-left: 3px;

  font-weight: bold;
  font-size: 16px;
}

.price-output {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 9px;
  padding: 6px 0 5px 66px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-output label:first-child {
  margin-right: 76px;
}

.price-output input {
  width: 50px;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.price-output::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 157px;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
}

.filter-button {
  margin-left: 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.range {
  position: relative;

  height: 23px;
  margin-bottom: 22px;
}

.price-line {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 2px;

  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price-line-opacity {
  opacity: 0.3;
}

.price-line-white {
  width: 83%;
}

.circle-button {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.min-circle {
  left: 0;
}

.max-circle {
  left: 253px;
}

.check-box {
  position: absolute;
  top: -1px;
  left: 0;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat;
}

.infostructure-item input:checked + .check-box,
.type-item input:checked + .check-box {
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat;
}

.infostructure-item input:disabled + .check-box,
.type-item input:disabled + .check-box {
  background: url("../img/checkbox-off-dis.svg") no-repeat;
}

.infostructure-item input:disabled:checked + .check-box,
.type-item input:disabled:checked + .check-box {
  background: url("../img/checkbox-on-dis.svg") no-repeat;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 72px;

  font-size: 12px;
  line-height: 18px;
}

.sort-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sort-result {
  margin-right: 48px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item:hover,
.sort-item a:focus {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;

  border: none;
  opacity: 1;
}

.arrow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.arrow-item:first-child {
  margin: 2px 10px 0 0;
}

.arrow-item:last-child {
  margin-top: 25px;
}

.btn-arrow {
  width: 0;
  height: 0;

  border-top: 9px solid #cacaca;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #cacaca;
  border-left: 6px solid transparent;
}

.btn-up {
  border-top: none;
}

.btn-down {
  border-bottom: none;
}

.btn-up:hover,
.btn-up:focus {
  border-bottom: 9px solid #000000;
}

.btn-down:hover,
.btn-down:focus {
  border-top: 9px solid #000000;
}

.btn-up:active {
  border-bottom: 9px solid #81b3d2;
}

.btn-down:active {
  border-top: 9px solid #81b3d2;
}

.arrow-item .btn-up-current {
  border-bottom: 9px solid #81b3d2;
}

.arrow-item .btn-down-current {
  border-top: 9px solid #81b3d2;
}

.sort-title {
  margin: 0;
  margin-right: 39px;

  font-size: 12px;
}

.sort-item {
  margin-right: 33px;

  border-bottom: 1px dotted #81b3d2;
  opacity: 0.3;
}

.sort-item-current {
  color: #81b3d2;

  border: none;
  opacity: 1;
}


.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-item {
  font-size: 14px;
  line-height: 21px;

  border-top: 1px solid #f2f2f2;
}

.hotel-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-picture {
  margin-right: 30px;
}

.hotel-item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotel-title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 21px;
  line-height: 26px;
}

.hotel-title:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title:active {
  opacity: 0.3;
}

.hotel-info {
  margin: 0;
}

.hotel-info-text {
  margin: 0;
  margin-bottom: 14px;
}

.hotel-type,
.hotel-price {
  color: #333333;
}

.hotel-price {
  margin-right: 79px;
}

.hotel-info-buttons {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 3px 17px;

  font-weight: bold;
  vertical-align: middle;
  color: #ffffff;
}

.button-more-info {
  margin-right: 2px;

  background-color: #81b3d2;
}

.button-more-info:hover,
.button-more-info:focus {
  background-color: #669ec0;
}

.button-more-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-block-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.quantity-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.star {
  margin-right: 6px;
}

.star:last-child {
  margin: 0;
}

.hotel-rating {
  padding: 2px 13px;

  color: #666666;

  background-color: #f2f2f2;
}

.map-container {
  height: 593px;

  background: #cacaca url("../img/map.png") no-repeat;
}

.google-map {
  width: 100%;
  height: 100%;

  border: 0;
}

/* //////////////// */

.catalog-main-page {
  background-color: #ffffff;
}

.main-banner {
  position: relative;

  width: 1200px;
  height: 508px;

  background: #81b3d2 url("../img/bg.jpg") no-repeat 0 -83px;
  background-size: 100%;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 459px;
  height: 353px;

  background: url("../img/welcome.svg") no-repeat;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.main-banner::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 1200px;
  height: 57px;

  background: url("../img/polygon.svg") no-repeat;
}

.main-navigation {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 72px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-list-left {
  padding-right: 40px;

  text-align: left;
}

.navigation-list-right {
  padding-left: 40px;

  text-align: right;
}

.map-container {
  position: relative;

  overflow: hidden;
}

.feature-box-big-offset {
  margin-left: auto;
}

.date-relative-parent {
  position: relative;
}

.calendar {
  top: 6px;
  right: 6px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.help-8 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.arrow-list {
  margin-left: auto;
}

.filter .filter-price {
  margin-left: auto;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 72px 29px;
}

.hotel-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-price {
  text-align: right;
}

.hotel-type {
  display: inline-block;
  min-width: 116px;
}
.hotel-price {
  text-align: left;
}

.fieldset-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fieldset-list .filter-item {
  margin-right: 118px;
}

.fieldset-list .filter-item:last-of-type {
  margin-right: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-align: center;
}

.nice-hotel {
  background: #aab7a5 url("../img/feature-picture.jpg") no-repeat 100% 0;
}

.devil-bridge {
  background: #ff8c00 url("../img/devil.jpg") no-repeat;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 100px 35px 133px;

  background-color: #ffffff;
}

.footer-back-catalog {
  margin-top: 0;
}

.input-title {
  width: 111px;

  text-align: left;
}

.hotel-block-info {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.custom-footer {
  position: absolute;
  bottom: 0;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-container {
  position: relative;
}

.infostructure-item:last-child {
  margin-bottom: 0;
}

.type-item:last-child {
  margin-bottom: 0;
}
